name: code style
on: 
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]
jobs:
  uv:
    name: python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Install uv
        uses: astral-sh/setip-uv@v6

      - name: Run check
        run: uv run ruff check

      - name: Run format
        run: uv run ruff format

      - name: mypy
        run: uv run mypy src

      - name: pytest
        run: uv run pytest -n auto
